body {
  background-image: url(../images/cover.jpg);
  position: absolute;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.text1 {
  position: absolute;
  width: 500px;
  height: 48px;
  left: 110px;
  top: 300px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: capitalize;
  color: #f5eff6;
}

.text2 {
  position: absolute;
  width: 265px;
  height: 86px;
  left: 110px;
  top: 374px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.2em;

  color: #f5eff6;
}

.text3 {
  position: absolute;
  width: 201px;
  height: 58px;
  left: 394px;
  top: 396px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: #f5eff6;
}

.buttondownload {
  position: absolute;
  width: 242px;
  height: 52px;
  left: 110px;
  top: 552px;
  background: rgba(242, 208, 248, 0.3);
  border: 1px solid #f2d0f8;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #f2d0f8;
}

.hero button:hover {
  position: absolute;
  width: 242px;
  height: 52px;
  left: 110px;
  top: 552px;
  color: #f8f1a8;
  border: 2px solid #f8f1a8;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 9px rgba(125, 115, 59, 0.25));
  border-radius: 0px 10px 10px 0px;
}
.hero button:hover {
  color: #f8f1a8;
}
.imgslika {
  position: absolute;
  width: 421.52px;
  height: 751.38px;
  left: 901px;
  top: 106.03px;
}
.imgsenka {
  position: absolute;
  width: 421.52px;
  height: 751.38px;
  left: 901px;
  top: 106.03px;
  filter: blur(160px);
}

.naslovwhatido {
  position: absolute;
  width: 277px;
  height: 60px;
  left: 598px;
  top: 1058px;
  color: #f8f1a8;
  padding: 20px;
  font-size: 50px;
  font-family: Nunito Sans;
  font-style: bold;
  font-weight: bold;
}

.worktables {

  text-align: center;
  position: absolute;
  color: #f8f1a8;
  font-family: Nunito Sans;
margin: 40px;
  font-size: 18px;
  width: 1221px;
  height: 409px;
  left: 110px;
  top: 1220px;
}
.eden {
  margin-bottom: 40px;
  margin-right: 50px;
  list-style-type: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 18px;
}

.lefttop {
  
  width: 360px;
  height: 172px;
  left: 110px;
  top: 1229px;
  vertical-align: 65px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 0px 0px 30px 0px;
}

.centartop {
  width: 360px;
  height: 172px;
  left: 540px;
  top: 1229px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 0px 0px 30px 30px;
}

/* .iconcentartop {
  position: absolute;
  left: 42.08%;
  right: 54.72%;
  top: 20.46%;
  bottom: 78.82%;

  background: #461a7e;
  border: 2px solid #2b104d;
} */

.righttop {
  width: 360px;
  height: 172px;
  left: 970px;
  top: 1229px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 30px;
}
/* 
.iconrighttop {
  position: absolute;
  left: 80%;
  right: 16.81%;
  top: 20.46%;
  bottom: 78.82%;

  background: #461a7e;
  border: 2px solid #2b104d;
} */

.leftbottom {
  width: 360px;
  height: 172px;
  left: 111px;
  top: 1466px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 0px 30px 0px 0px;
}

.centarbottom {
  width: 360px;
  height: 172px;
  left: 541px;
  top: 1466px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 30px 30px 0px 0px;
}

.rightbottom {
  width: 360px;
  height: 172px;
  left: 971px;
  top: 1466px;
  padding: 20px;
  background: rgba(248, 241, 168, 0.2);
  border: 1px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 30px 0px 0px 0px;
}

.about {
  font-family: Nunito Sans;
  font-style: normal;
  color: #f2d0f8;
}

.aboutcover {
  position: absolute;
  width: 1220px;
  height: 677px;
  left: 110px;
  top: 1877px;
  background: rgba(44, 16, 81, 0.4);
  border-radius: 0px;
}

.aboutmetext {
  position: absolute;
  width: 400px;
  height: 58px;
  left: 865px;
  top: 1966px;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.1em;
}

.aboutparagraf {
  position: relative;
  width: 513px;
  height: 288px;
  left: 737px;
  top: 2064px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.aboutparagraf a {
  color: #f8f1a8;
}
.aboutimg {
  position: absolute;
  width: 550px;
  height: 411px;
  left: 110px;
  top: 1971px;

  border-radius: 0px 30px 30px 0px;
}

.tekstproekt {
  position: absolute;
  width: 228px;
  height: 60px;
  left: 676px;
  top: 2754px;
  font-family: Nunito Sans;
  font-style: bold;
  color: #efe57e;
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.imgprekt1 {
  position: absolute;
  width: 620px;
  height: 400px;
  left: 165px;
  top: 2993px;

  /* filter: drop-shadow(0px 2px 20px rgba(250, 244, 230, 0.25)); */
}

.buttonproject1 {
  background-color: inherit;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: rgba(70, 26, 126, 1);
  position: absolute;
  width: 199px;
  height: 52px;
  left: 810px;
  top: 3281px;
  border: 1px solid #faf4e6;
  background: #F8F1A8;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
}
.buttonproject1:hover {
  background-color: inherit;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color:rgba(70, 26, 126, 1);
  position: absolute;
  width: 199px;
  height: 52px;
  left: 810px;
  top: 3281px;
  border: 3px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
  filter: drop-shadow(0px 4px 75px #504d36);
}

.buttonproject1 a:hover {
  color: #f8f1a8;
}

.buttonproject1 a {
  color: #faf4e6;
}

.naslovprekt1 {
  position: absolute;
  width: 500px;
  height: 54px;
  left: 810px;
  top: 3002px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #faf4e6;
}

.paragrafprekt1 {
  position: absolute;
  width: 500px;
  height: 144px;
  left: 810px;
  top: 3113px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #faf4e6;
}

.imgprekt2 {
  position: absolute;
  width: 620px;
height: 400px;
  left: 810px;
  top: 3510px;
}

.naslovprekt2 {
  position: absolute;
  width: 222px;
  height: 54px;
  left: 165px;
  top: 3515px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #faf4e6;
}

.paragrafprekt2 {
  position: absolute;
  width: 496px;
height: 144px;
  left: 165px;
  top: 3626px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #faf4e6;
}

.buttonproject2 {
  background-color:  #f8f1a8;;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  
  position: absolute;
  width: 199px;
  height: 52px;
  left: 165px;
  top: 3794px;
  color:rgba(70, 26, 126, 1);

 border: 3px solid #f8f1a8;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 15px;
}

.buttonproject2 a {
  color: #faf4e6;
}


.naslovprekt3 {
  position: absolute;
  width: 232px;
  height: 54px;
  left: 810px;
  top: 4032px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #faf4e6;
}

.imgprekt3 {
  position: absolute;
  width: 620px;
  height: 400px;
  left: 96px;
  top: 4000px;
}

.paragrafprekt3 {
  position: absolute;
  width: 500px;
height: 144px;
  left: 810px;
  top: 4143px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #faf4e6;
}

.buttonproject3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  background-color:  #f8f1a8;;
  color: rgba(70, 26, 126, 1);

  position: absolute;
  width: 199px;
  height: 52px;
  left: 810px;
  top: 4311px;

  border: 1px solid #f8f1a8;;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
}

.mail{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 560px;
  top: 4744px;
}
.covercontact {
  position: absolute;
  width: 1220px;
  height: 600px;
  left: 110px;
  top: 5694px;
  background: rgba(44, 16, 81, 0.4);
  border-radius: 0px;
}

.contactme {
  position: absolute;
  width: 500px;
  height: 58px;
  left: 170px;
  top: 5754px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  

  letter-spacing: 0.05em;

  color: #f2d0f8;
}



.podatocikocka {
  position: absolute;
  width: 1220px;
  height: 163px;
  left: 110px;
  top: 4673px;
  
}




.ld {
  position: absolute;
width: 50px;
height: 50px;
left: 650px;
top: 4744px;
}


.be {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 740px;
  top: 4744px;
  
}

.dd {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 830px;
  top: 4744px;
}

@media screen and (max-width: 700px) {
  body {
    position: relative;
    box-sizing: border-box;
  }

  .text1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    left: 24px;
    top: 120px;
  }

  .text2 {
    position: absolute;
    width: 133px;
    height: 43px;
    left: 24px;
    top: 174px;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.2em;
  }
  .text3 {
    position: absolute;
    width: 151px;
    height: 43px;
    left: 168px;
    top: 174px;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
  }
  .imgslika {
    width: 269px;
    height: 474px;

    left: 108px;
    right: 0px;
    top: 242px;
  }
  .imgsenka {
    width: 269px;
    height: 474px;

    left: 108px;
    right: 0px;
    top: 242px;
  }

  .buttondownload {
    position: absolute;
    width: 110px;
    height: 38px;
    left: 20px;
    top: 262px;
    font-size: 12px;
    line-height: 16px;
  }

  .buttondownload button:hover {
    color: #f8f1a8;
  }
  .buttondownload:hover {
    color: #f8f1a8;
  }
  .hero button:hover {
    position: absolute;
    width: 110px;
    height: 38px;
    left: 20px;
    top: 262px;
    color: #f8f1a8;
    border: 2px solid #f8f1a8;
  }
  .hero button:hover {
    color: #f8f1a8;
  }
  .naslovwhatido {
    display: none;
  }

  .worktables {
    display: none;
  }

  .aboutcover {
    position: absolute;
    width: 334px;
    height: 533px;
    left: 20px;
    right: 20px;
    top: 835px;
    background: rgba(44, 16, 81, 0.4);
    border-radius: 0px;
  }
  .aboutmetext {
    position: absolute;
    /* width: 131px; */
    height: 31px;
    left: 122px;
    top: 875px;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.05em;
  }

  .aboutimg {
    position: absolute;
    width: 278px;
    height: 208px;
    left: 48px;
    top: 946px;
    border-radius: 0px;
  }

  .aboutparagraf {
    position: absolute;
    width: 286px;
    height: 100%;
    left: 50px;
    top: 1174px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .tekstproekt {
    position: absolute;
    width: 110px;
    height: 31px;
    left: 132px;
    top: 1448px;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
  .naslovprekt1 {
    position: absolute;
    height: 27px;
    left: 20px;
    top: 1539px;
    font-size: 20px;
    line-height: 27px;
  }
  .paragrafprekt1 {
    position: absolute;
    width: 300px;
    height: 64px;
    left: 20px;
    top: 1584px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .imgprekt1 {
    position: absolute;
    width: 333.63px;
    height: 209px;
    left: 20px;
    top: 1678px;
  }
  .buttonproject1 {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 1917px;
    border-radius: 0px 10px 10px 10px;
    font-size: 16px;
  }

  .buttonproject1:hover {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 1917px;
    font-size: 16px;
    color: #f8f1a8;

    border: 2px solid #f8f1a8;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
  }

  .buttonproject1 a:hover {
    color: #f8f1a8;
  }

  .naslovprekt2 {
    position: absolute;
    height: 30px;
    left: 20px;
    top: 2007px;
    font-size: 20px;
    line-height: 150%;
  }
  .paragrafprekt2 {
    position: absolute;
    width: 300px;
    height: 64px;
    left: 20px;
    top: 2052px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .imgprekt2 {
    position: absolute;
    width: 334px;
    height: 209.36px;
    left: 20px;
    top: 2146px;
  }
  .buttonproject2 {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 2386px;
    border-radius: 0px 10px 10px 10px;
    font-size: 16px;
  }

  .buttonproject2:hover {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 2386px;
    font-size: 16px;
    color: #f8f1a8;

    border: 2px solid #f8f1a8;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
  }

  .buttonproject2 a:hover {
    color: #f8f1a8;
  }

  .naslovprekt3 {
    position: absolute;
    height: 30px;
    left: 20px;
    top: 2476px;
    font-size: 20px;
    line-height: 150%;
  }
  .paragrafprekt3 {
    position: absolute;
    width: 300px;
    height: 64px;
    left: 20px;
    top: 2521px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .imgprekt3 {
    position: absolute;
    width: 334px;
    height: 232.32px;
    left: 20px;
    top: 2615.68px;
  }
  .buttonproject3 {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 2878px;
    border-radius: 0px 10px 10px 10px;
    font-size: 16px;
  }

  .buttonproject3:hover {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 2878px;
    font-size: 16px;
    color: #f8f1a8;

    border: 2px solid #f8f1a8;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
  }

  .buttonproject3 a:hover {
    color: #f8f1a8;
  }

  .naslovprekt4 {
    position: absolute;
    height: 30px;
    left: 20px;
    top: 2968px;
    font-size: 20px;
    line-height: 150%;
  }
  .paragrafprekt4 {
    position: absolute;
    width: 300px;
    height: 64px;
    left: 20px;
    top: 3013px;
    font-size: 12px;
    line-height: 16px;
  }

  .imgprekt4 {
    position: absolute;
    width: 335.42px;
    height: 202px;
    left: 20px;
    top: 3107px;
  }
  .buttonproject4 {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 3339px;
    border-radius: 0px 10px 10px 10px;
    font-size: 16px;
  }

  .buttonproject4:hover {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 3339px;
    font-size: 16px;
    color: #f8f1a8;

    border: 2px solid #f8f1a8;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
  }

  .buttonproject4 a:hover {
    color: #f8f1a8;
  }
  .naslovprekt5 {
    position: absolute;

    height: 30px;
    left: 20px;
    top: 3429px;
    font-size: 20px;
    line-height: 150%;
  }
  .paragrafprekt5 {
    position: absolute;
    width: 300px;
    height: 64px;
    left: 20px;
    top: 3474px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .imgprekt5 {
    position: absolute;
    width: 303.06px;
    height: 195.5px;
    left: 50.18px;
    top: 3568.5px;
  }
  .buttonproject5 {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 3794px;
    border-radius: 0px 10px 10px 10px;
    font-size: 16px;
  }

  .buttonproject5:hover {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 214px;
    top: 3794px;
    font-size: 16px;
    color: #f8f1a8;

    border: 2px solid #f8f1a8;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
  }

  .buttonproject5 a:hover {
    color: #f8f1a8;
  }
  .covercontact {
    position: absolute;
    width: 375px;
    height: 434px;
    left: -2px;
    top: 3886px;

    background: rgba(44, 16, 81, 0.4);
    border-radius: 0px;
  }
  .contactme {
    position: absolute;
    /* width: 145px; */
    height: 31px;
    left: 113px;
    top: 3914px;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    /* text-align: center; */
    letter-spacing: 0.02em;
  }
  .name {
    position: absolute;
    width: 39px;
    height: 16px;
    left: 20px;
    top: 3975px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
  }

  .nameinput {
    position: absolute;
    width: 335px;
    height: 40px;
    left: 20px;
    top: 3997px;
    border: 1px solid #faf4e6;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .email {
    position: absolute;
    width: 38px;
    height: 15px;
    left: 20px;
    top: 4051px;

    font-size: 14px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    /* or 17px */
  }

  .emailinput {
    position: absolute;
    width: 335px;
    height: 40px;
    left: 20px;
    top: 4072px;
    border: 1px solid #faf4e6;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .message {
    position: absolute;
    width: 58px;
    height: 15px;
    left: 20px;
    top: 4126px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
  }
  .textareamessage {
    position: absolute;
    width: 335px;
    height: 104px;
    left: 20px;
    top: 4148px;

    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .buttonsend {
    position: absolute;
    width: 335px;
    height: 37px;
    left: 20px;
    top: 4262px;
    border: 1px solid #faf4e6;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 10px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
  }
  .podatocikocka {
    position: absolute;
    width: 336px;
    height: 263px;
    left: 20px;
    top: 4370px;
    border-radius: 0px;
    background: #280e63;
  }
  .mojemail {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 56px;
    top: 4406px;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;

    letter-spacing: 0.1em;
  }
  .hotmail {
    position: absolute;
    width: 264px;
    height: 19px;
    left: 56px;
    top: 4440px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
  }
  .phone {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 56px;
    top: 4479px;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    letter-spacing: 0.1em;
  }
  .mojphone {
    position: absolute;
    width: 116px;
    height: 19px;
    left: 56px;
    top: 4513px;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
  }
  .fb {
    position: absolute;
    width: 33.69px;
    height: 35px;
    left: 56px;
    top: 4562px;
  }
  .ld {
    position: absolute;
    width: 35px;
    height: 34.91px;
    left: 114px;
    top: 4562px;
  }
  .insta {
    position: absolute;
    width: 33.69px;
    height: 35px;
    left: 172px;
    top: 4562px;
  }
  .be {
    position: absolute;
    width: 33.69px;
    height: 35px;
    left: 226.87px;
    top: 4562px;
  }
  .dd {
    position: absolute;
    width: 33.69px;
    height: 35px;
    left: 281.74px;
    top: 4562px;
  }
}
